//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

doctype html
html(lang="en")
    head
        title= title
    body
        h1 Car Collection
        if token
            table(style='width:100%', border='1')
                tr
                    th Name
                    th Condition
                    th Year
                    th Make
                    th Model
                    th VIN
                each car in cars
                    tr 
                        td #{car.name}
                        td #{car.condition}
                        td #{car.year }
                        td #{car.make}
                        td #{car.model }
                        td #{car.vin}
        else
            p You're not authenticated 
        P Update your records #[a(href="/update-cobj") here]